html {
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}


*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
body img{
    padding: 0px;
    margin: 0px;
}
body p{
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* the header of the page  */
.nav-bar{
    display: flex;
    padding: 30px;
    text-align: center;
    gap: 10rem;
    margin-top: 1rem;
}
.nav-bar ul{
    display: flex;
    gap: 5rem;
    margin-top: 14px;
    margin-left: 8rem;
}

/* le style des liens */
:link{
    color: rgb(238, 242, 246);
}
a:visited{
    color: rgba(251, 248, 248, 0.801) ;
}
a:hover{
    color: #c3ec0a;
}
a:active{
    color: rgb(59, 59, 241);
}


/* partie .icone */
.icone{
    display: flex;
    margin-top: 14px;
    gap: 2rem;
}

/* la partir sous nav */

.Creez-votre-propre-t-shirt{
    text-align: center;
    margin-top: 2rem;
    background-image: url("images/design-studio.png");

        padding: 20px;
        box-shadow:
          inset 0 -1em 1em #c3ec0a,
          0 0 0 2px white,
          0.3em 0.3em 1em rgba(218, 205, 205, 0.6);

      
}

.Creez-votre-propre-t-shirt h1{
    margin-bottom: 1rem;
    font-size: 4rem;
}

.Creez-votre-propre-t-shirt p{
    margin-bottom:3rem ;
    font-size: 20px;
}

.Creez-votre-propre-t-shirt span{
    margin-bottom:  3rem;
}
.Commencez-concevoir{
    background-color: #08b5af;
    height: 4rem;
    width: 15rem;
    text-align: center;
    margin-left: 40rem;
    border-radius: 10px;
}
.Commencez-concevoir a {
   color: white;
}

 

/* la partir contenu  */

.contenu {
    display: flex;
    padding: 50px;
    margin-left: 1rem;
    gap: 5rem;
    text-align: center;
}

.les_contenaire {
    box-shadow: 10px 5px 5px #c3ec0a;
}

.les_contenaire ,h2 ,span ,p {
    padding: 10px;
}
.les_contenaire img {
    width: 22rem;
    height: 25rem;
    border-radius: 30px;
}

.title_3 {
    font-size: 20px;
    text-align: center;
    padding-top: 1rem;
    background-color: #08b5af;
    height: 4rem;
    width: 25rem;
    border-radius: 10px;
}

.les_contenaire a {
    color: white;
    margin-top: 5rem;
}
.les_contenaire h2 {
    margin-top: 2rem;
}

/* <!-- la partir descriptive du site en question  --> */
.description {
    display: flex;
    padding: 60px;
    gap: 5rem;
    margin-left: 10rem;
}
.description img {
    width: 30.5rem;
    height: 40rem;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #c3ec0a;
}
.descript {
    margin-top: 5rem;
}
.descript h2 {
    margin-bottom: 4rem;
    font-size: 39px;
}



/* <!-- le bas de la page  --> */
.bas_de_page{
    display: flex;
    gap: 6rem;
    padding: 6rem;
}

.bas h3 {
    margin-bottom: 2rem;
}


.bas h2 {
    margin-bottom: 2rem;
}


.bas input {
    border: none;
    height: 40px;
    width: 250px;
}

.icone_bas{
    display: flex;
    gap: 1rem;
}

